# Importing required Python libraries/packages

In [ ]:
import getpass
import oracledb
import pandas as pd

# Initialising **thick mode** for Oracle DB - for connection with the local DB instance.

In [7]:
oracledb.init_oracle_client(lib_dir='/opt/oracle/product/21c/dbhomeXE/lib')

# Establishing connection to the DB, as *SYS* user, in *SYSDBA* role

In [8]:
connection = oracledb.connect(
	mode=oracledb.AUTH_MODE_SYSDBA,
	dsn="localhost/XEPDB1"
)

# Creating a **cursor** to interact with the DB instance

In [9]:
cursor = connection.cursor()

# Executing, and displaying the output of, commands on the `placement_event` database

In [10]:
cursor.execute("select * from placement_event")

results = cursor.fetchall()
columns = [col[0] for col in cursor.description]

df = pd.DataFrame(results, columns=columns)
df

,EVENT_ID,EVENT_NAME,EVENT_DATE,EVENT_LOCATION,COMPANY_ID
0,1,Tech Job Fair,2024-03-10,Tech Park,1
1,2,Green Energy Conference,2024-04-12,Green Hall,2
2,3,Automotive Career Expo,2024-05-14,Auto Convention Center,3
3,4,Construction Expo,2024-06-16,Skyline Plaza,4
4,5,Healthcare Career Summit,2024-07-18,BioHealth Arena,5
5,6,Agriculture Conference,2024-08-20,AgroGrow Field,6
6,7,Fintech Career Fest,2024-09-22,Fintech Center,7

# Creating the tables

## Patient table

In [19]:
cursor.execute("drop table patient")

cursor.execute("""
create table patient(
    patient_id number primary key,
    name varchar2(100),
    address varchar2(255),
    date_of_birth date,
    phone varchar2(15)
    )
""")

## Doctor table

In [22]:
cursor.execute("drop table doctor")

cursor.execute("""
create table doctor(
    doctor_id number primary key,
    name varchar2(100),
    specializations varchar2(255),
    experience_years number,
    contact varchar2(15)
    )
""")

## Room table

In [26]:
cursor.execute("drop table room")

cursor.execute("""
create table room(
    room_id number primary key,
    room_type varchar2(50),
    capacity number,
    status varchar2(50)
)
""")

## Treatment table

In [28]:
cursor.execute("drop table treatment")

cursor.execute("""
create table treatment(
    treatment_id number primary key,
    patient_id number,
    doctor_id number,
    treatment_type varchar2(100),
    start_date date,
    end_date date,
    foreign key(patient_id) references patient(patient_id),
    foreign key(doctor_id) references doctor(doctor_id)
)
""")

## Appointment table

In [33]:
cursor.execute("drop table appointment")

cursor.execute("""
create table appointment(
    appointment_id number primary key,
    patient_id number,
    doctor_id number,
    room_id number,
    appointment_date date,
    appointment_time varchar2(10),
    foreign key(patient_id) references patient(patient_id),
    foreign key(doctor_id) references doctor(doctor_id),
    foreign key(room_id) references room(room_id)
)
""")

## Bill table

In [36]:
cursor.execute("drop table bill")

cursor.execute("""
create table bill(
    bill_id number primary key,
    patient_id number,
    treatment_id number,
    total_amount number,
    date_issued date,
    foreign key(patient_id) references patient(patient_id),
    foreign key(treatment_id) references treatment(treatment_id)
)
""")

# Closing up the cursor and connection

In [13]:
cursor.close()
connection.close()