In [1]:
%%markdown
# Importing required Python libraries/packages

# Importing required Python libraries/packages

In [23]:
import getpass
import oracledb
import pandas as pd

In [4]:
%%markdown
# Initialising **thick mode** for Oracle DB - for connection with the local DB instance.

# Initialising **thick mode** for Oracle DB - for connection with the local DB instance.

In [17]:
oracledb.init_oracle_client(lib_dir='/opt/oracle/product/21c/dbhomeXE/lib')

In [6]:
%%markdown
# Establishing connection to the DB, as *SYS* user, in *SYSDBA* role

# Establishing connection to the DB, as *SYS* user, in *SYSDBA* role

In [18]:
connection = oracledb.connect(
	mode=oracledb.AUTH_MODE_SYSDBA,
	dsn="localhost/XEPDB1"
)

In [8]:
%%markdown
# Creating a **cursor** to interact with the DB instance

# Creating a **cursor** to interact with the DB instance

In [19]:
cursor = connection.cursor()

In [10]:
%%markdown
# Executing, and displaying the output of, commands on the `placement_event` database

# Executing, and displaying the output of, commands on the `placement_event` database

In [26]:
cursor.execute("select * from placement_event")

results = cursor.fetchall()
columns = [col[0] for col in cursor.description]

df = pd.DataFrame(results, columns=columns)
df

,EVENT_ID,EVENT_NAME,EVENT_DATE,EVENT_LOCATION,COMPANY_ID
0,1,Tech Job Fair,2024-03-10,Tech Park,1
1,2,Green Energy Conference,2024-04-12,Green Hall,2
2,3,Automotive Career Expo,2024-05-14,Auto Convention Center,3
3,4,Construction Expo,2024-06-16,Skyline Plaza,4
4,5,Healthcare Career Summit,2024-07-18,BioHealth Arena,5
5,6,Agriculture Conference,2024-08-20,AgroGrow Field,6
6,7,Fintech Career Fest,2024-09-22,Fintech Center,7

In [12]:
%%markdown
# Closing up the cursor and connection

# Closing up the cursor and connection

In [13]:
cursor.close()
connection.close()